.error-404 {
    color: #FFF;
    text-shadow: 0px 4px 34px rgba(0, 0, 0, 0.25);
    font-size: 180px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
}

.wrapper-404 {
    &__desc {
        color: #003;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 34px;
        width: 378px;
        margin: 0 auto;
    }
}

.bold {
    font-weight: 900;
}

.home-page {
    color: #003;
    font-weight: 900;
}

.privacy-text {
    color: #003;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}