.btn-search-header-acc {
    top: 5px;
    left: 10px;
}

.account-head {
    display: flex;
    align-items: center;
    .dropdown {
        margin-left: 45px;
    }
}

.btn-active-menu-offfcanvas {
    display: flex;
    position: absolute;
    border-radius: 5px;
    background: #CCB8A0;
    font-family: 'Open Sans', sans-serif;
    width: 180px;
    color: #003;
    font-size: 16px;
    font-weight: 700;
}

.btn-wrap-hamburger {
    width: 15px;
    margin-left: 15px;
    margin-top: 4px;
}

.offcanvas-header {
    justify-content: flex-end;
    .btn-close {
        display: flex;
        cursor: pointer;
        background-image: none;
        border: 2px solid #000333;
        justify-content: center;
        align-items: center;
        &:focus {
            outline: none;
            box-shadow: none;
        }
    }
    path {
        fill: #CCB8A0;
    }
}

.user-btns-mobile {
    display: none;
}

.offcanvas-lg {
    max-width: 40%;
}

.btn-account-hamburger {
    width: 100%;
    height: 2px;
    background: #000333;
    margin-bottom: 2px;
    display: block;
}

.card-company-content__country {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        width: 27px;
        height: 27px;
        background-image: url('../../icons/Ellipse246.svg');
        background-repeat: no-repeat;
        left: 9px;
    }
}

.btn-add-company {
    position: absolute !important;
    top: 3px;
    width: 250px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;
    margin-bottom: 40px;
    &::before {
        content: '';
        position: absolute;
        background-image: url('../../icons/plus-company-add.svg');
        background-repeat: no-repeat;
        width: 16px;
        height: 16px;
        left: 20px;
    }
}

.btn-add-photo {
    width: 100%;
    margin-top: 23px;
}

.profile-photo-img {
    width: 100%;
}

.profile-info-name {
    margin-top: 15px;
    color: #003;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.profile-info-name_bold {
    color: #3C3C3C;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.profile-head,
.profile-bio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 2px solid #E3E3E3;
}

.btn-profile-edit {
    width: 68.746px;
    height: 30px;
    border-radius: 5px;
    background: #CCB8A0;
    color: #003;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.profile-title {
    color: #003;
    text-align: center;
    font-family: 'Acrom Bold', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.user {
    &-wrap {
        border-radius: 5px;
        border: 1px solid #003;
        background: #FFF;
        box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.25);
        min-height: 255px;
        padding: 1px;
    }
    &-row {
        padding-bottom: 100px;
    }
    &-btns {
        margin-top: 39px;
    }
    &-profile {
        display: flex;
        width: 100%;
        cursor: pointer;
        align-items: center;
        text-decoration: none;
        height: 68px;
        padding-left: 21px;
        color: #9191A3;
        font-size: 14px;
        &__icon {
            margin-right: 20px;
        }
    }
    &-tab {
        border-bottom: 1px solid #E3E3E3;
    }
}

.card-company-content__text {
    margin-left: 21px;
}

.active {
    background: #EDEDF2;
    color: #003;
    font-weight: 700;
}

.tab-content>.active {
    background: #FFF;
}

.search-tags {
    margin-bottom: 37px;
    label {
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        color: #9191A3;
        margin-right: 36px;
    }
}

.profile-row {
    margin-top: 29px;
}

.profile-bio-desc {
    margin-top: 24px;
    color: #3C3C3C;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.profile-switch {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.form-check-label-profile {
    color: #3C3C3C;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.form-switch .form-check-input:checked {
    background-color: #CCB8A0;
    background-image: url('../../icons/Rectangle.svg');
}

.form-check-input:checked {
    border-color: transparent;
}

.btn-save-profile {
    width: 240px;
    height: 40px;
    border-radius: 5px;
    background: #CCB8A0;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
    color: #003;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

//modal profile
.modal-content-edit {
    border-radius: 10px;
    background: #FFF;
    padding: 48px;
}

.modal-header {
    padding: 0;
    padding-bottom: 15px;
    .btn-close {
        position: absolute;
        filter: drop-shadow(4px 4px 0px rgba(0, 0, 0, 0.25));
        background-color: #FFF;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        border: 1px solid #003;
        right: -10px;
        opacity: 1;
        top: -15px;
    }
    .dropdown {
        .option-lang-eng {
            margin-right: 0;
        }
    }
}

.modal-dialog {
    max-width: 800px;
}

.modal-img {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 240px;
    border-radius: 4px;
    background: #EDEDF2;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.modal-footer {
    padding-right: 0;
}

.textarea-modal-profile {
    margin-top: 26px;
    padding: 19px 25px;
    width: 100%;
    height: 217px;
    border-radius: 4px;
    border: 1px solid #C4C4C4;
    color: #253D5B;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

//end modal profile
.add-company {
    border: none;
}

.add-photo-block {
    margin-top: 3px;
}

.add-head-company {
    margin-bottom: 10px;
}

.add-format-file {
    margin-top: 14px;
    color: #253D5B;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.add-format-item {
    color: #253D5B;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.add-textarea-count {
    text-align: right;
    color: #666;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.add-bold {
    color: #666;
    font-size: 12px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
}

.button-add-drop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 5px;
    border: 5px dashed #EDEDF2;
    width: 202px;
    height: 200px;
    opacity: 0.7;
    cursor: pointer;
}

.add-input-file {
    display: none;
}

#drop-area {
    display: flex;
    margin-top: 29px;
    padding-bottom: 33px;
    border-bottom: 1px solid #C4C4C4;
    min-height: 300px;
}

.drop-form {
    margin-right: 40px;
}

.btn-delete {
    width: 154px;
    height: 34px;
    border-radius: 5px;
    border: 1px solid #FF574F;
    color: #003;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn-active-menu-offfcanvas {
    display: none;
}

.drop-area-preview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.add-btns-company {
    display: flex;
    justify-content: space-between;
    margin-top: 23px;
}

.btn-delete_size,
.btn-save-profile_size {
    width: 240px;
    height: 46px;
}

.btn-save-profile_size {}