.tags {
    margin-top: 48px;
    &-title {
        color: #003;
        font-family: 'Acrom Bold', sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
    }
    &-list {
        display: flex;
        flex-wrap: wrap;
        margin-top: 11px;
    }
    &-list__item {
        text-decoration: none;
        margin-bottom: 12px;
        padding: 5px;
        margin-right: 21px;
        border: 1px solid rgba(60, 60, 60, 0.3);
        border-radius: 5px;
        color: #3C3C3C;
        font-family: 'Open Sans';
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
    }
}

.like-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    width: 130px;
    border-radius: 5px;
    border: 1px solid #003;
    margin: 49px auto;
    &__text {
        margin-left: 9px;
        color: #003;
        font-family: 'Open Sans';
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
    }
}